// COLORS
$color-primary: #0e384a;
$color-primary-light: #49d1ff;

$color-secondary-light: #ffb900;
$color-secondary-dark: #FCDC2A;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #e8e9eb;
$color-grey-light-2: #f6f6f6;
$color-grey-bright-gray: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-blue: #87cefa;

$color-text: #525863;


// FONT
$default-font-size: 1.6rem;
$text-font-family: 'Montserrat', sans-serif;

// SECTIONS-MARGIN
$section-margin-top: 6rem;
$section-margin-bottom: 6rem;

// SHADOWS
$box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

