body {
    font-family: $text-font-family;
    line-height: 1.7;
    color: $color-text;
}

.heading-primary {
	font-family: 'Alegreya', serif;
	color: $color-white;
	font-size: clamp(3em, 5vw, 7em);
}

.heading-secondary {
	font-family: 'Alegreya', serif;
	font-size: clamp(1.5em, 5vw, 2.5em);
	text-align: center;
	position: relative;
}

.heading-tertiary {
	font-family: 'Alegreya', serif;
	font-size: 2em;
}

@include respond(s-phone) {
	.heading-secondary {
		&:before {
			left: 32%;
		}
	}
}

@include respond(phone) {
	.heading-secondary {
		&:before {
			width: 9rem;
			left: 31%;
		}
	}
}

